<button
  class="card"
  type="button"
  (click)="onSelect()"
  [attr.aria-label]="'Ver detalles de ' + pokemon.name"
>
  <span class="card__id">{{ paddedId }}</span>

  <div class="card__image-wrap">
    <img
      class="card__image"
      [src]="image"
      [alt]="'Imagen de ' + pokemon.name"
      loading="lazy"
    />
  </div>

  <h3 class="card__name">{{ pokemon.name }}</h3>

  <div class="card__types">
    <span
      class="card__type"
      *ngFor="let t of pokemon.types"
      [style.background]="typeColor(t.type.name)"
    >
      {{ typeLabel(t.type.name) }}
    </span>
  </div>

  <span class="card__hint">Click para ver detalles</span>
</button>
