<form (ngSubmit)="buscarPokemon()">
    <div>
        <label for="nombrePokemon">Nombre del Pokémon:</label>
        <input
        type="text"
        [(ngModel)]="nombrePokemonInput"
        name = "nombrePokemon"
        placeholder = "Ej: Pikachu, Charmander, Bulbasaur"
        required
        />
    </div>
    <div>
        <button type="submit">Buscar</button>
    </div>


</form>

<div id="ResultadoPokemon">
    @if(pokemon(); as p){

        <div>
            <h2>{{ p.name }}</h2>
            <img [src]="p.image" [alt]="p.name"/>
            <p><strong>Elementos: </strong>{{ p.type }}</p>
        </div>
    } @else if(!mensajeError()){
        <p>Error con aura</p>
    }
</div>