<div>
    <h2>La mochila de los Pokemon</h2>
    <p>Total en almacen: <strong>{{pokemonService.misPokemons().length}}</strong></p>
</div>

<div class="grid-pokemons">
    @for(poke of pokemonService.misPokemons(); track poke.id; let idx = $index; let total = $count){
        <div appResaltarTarjeta class="item-inventario" [ngClass]="{'favorito-activo': poke.esFavorito }">
            <span class="posicion-badge">${{ idx }} de {{ total }}</span>
        <img [src]="poke.img"/>
        <h4>{{ poke.name }}</h4>
        <p>{{ poke.type }}</p>

        <div class="acciones">
            <button (click)="pokemonService.actualizarFavorito(poke.id)" [class.btn.fav]="poke.esFavorito">

            {{ poke.esFavorito ? 'Favorito' : 'Marcar' }}
            </button>
            <button class="btn-eliminar" (click)="pokemonService.eliminarPokemon(poke.id)">
                Liberar
            </button>
        </div>
        </div>
    } @empty {
        <div class="sin-datos">
            <p> No tienes ningún Pokemon Capturado</p>
            <p> Registra un nuevo Pokemon </p>
        </div>
    }
</div>
